/*dividimos la pantalla en dos */

.container-main{
    display: grid;
    grid-template-rows: 10% 90% 20% 10%;
    place-items: center;
    width: 99%;
    height: 100dvh;    
}

.navbar{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}
.container-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.container-avatar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad según necesites */
    filter: blur(5px); /* Ajusta el radio del desenfoque según necesites */
    mask-image: radial-gradient(circle, transparent 50%, black 100%);
    /* O para un desenfoque lineal en un borde: mask-image: linear-gradient(to bottom, black 0%, transparent 100%); */
  }

.header-bigtext-img{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: #fff;
    width: 80%;
    height: 75dvh;
    align-self: flex-end;
}

.proyects-container{
    position: relative;
    background-color: fff;
}

.container-footer{
    position: relative;
    background-color: black;
    
}


