/*dividimos la pantalla en dos */

.container-main{
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 2fr;
    place-items: center;
    width: 100%;
    height: 100dvh;
    
}

.navbar{
    background-color: #000;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}
.container-avatar{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.header-bigtext-img{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: #fff;
    width: 45%;
    height: 75dvh;
    align-self: flex-end;
}

.proyects-container{
    position: relative;
    background-color: fff;
}

.container-footer{
    position: relative;
    background-color: black;
    
}


