.img-home-pefil{
    display: flex;
    height: 100%;
    width: auto;
    z-index: -2;
    mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 909%, transparent 100%);
    
}
